<div id="episodeInfo" class="well">
  <div class="row">
    <div class="col-md-6">
      <h2>
        <p class="rating">
          <a target="_blank" href="{{ currentEpisode.linkUrl }}">
            {{ currentEpisode.rating }}
          </a>
        </p>
        {{ currentEpisode.title }}
      </h2>
      <h3>Season: {{ currentEpisode.season }} Episode: {{ currentEpisode.episode }}</h3>
    </div>
    <div class="col-md-6">
      <p class="description">{{ currentEpisode.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>Watch Free</h4>
      <ul class="watch">
        <li ng-hide="currentEpisode.hasFreeProviders">None found</li>
        <li ng-repeat="(provider, link) in currentEpisode.freeProviders">
          <a target="_blank" href="{{ link }}">
            <img class="watch" src="{{ icons[provider] }}" alt="{{ provider }}">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Subscription Based</h4>
      <ul class="watch">
        <li ng-hide="currentEpisode.hasSubscriptionProviders">None found</li>
        <li ng-repeat="(provider, link) in currentEpisode.subscriptionProviders">
          <a target="_blank" href="{{ link }}">
            <img class="watch" src="{{ icons[provider] }}" alt="{{ provider }}">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Digital Purchase</h4>
      <ul class="watch">
        <li ng-hide="currentEpisode.hasPurchaseProviders">None found</li>
        <li ng-repeat="(provider, link) in currentEpisode.purchaseProviders">
          <a target="_blank" href="{{ link }}">
            <img class="watch" src="{{ icons[provider] }}" alt="{{ provider }}">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>