<div id="episodeInfo" class="well">
  <div class="row">
    <div class="col-md-6">
      <h2>
        <p class="rating">{{ currentEpisode.rating }}</p>
        {{ currentEpisode.title }}
      </h2>
      <h3>Season: {{ currentEpisode.season }} Episode: {{ currentEpisode.episode }}</h3>
    </div>
    <div class="col-md-6">
      <p class="description">{{ currentEpisode.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" ng-show="currentEpisode.hasFreeProviders">
      <h4>Watch Free</h4>
      <ul class="watch">
        <li ng-repeat="(provider, link) in currentEpisode.freeProviders">
          <a href="{{ link }}"><img class="watch" src="{{ icons[provider] }}"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4" ng-show="currentEpisode.hasSubscriptionProviders">
      <h4>Subscription Based</h4>
      <ul class="watch">
        <li ng-repeat="(provider, link) in currentEpisode.subscriptionProviders">
          <a href="{{ link }}"><img class="watch" src="{{ icons[provider] }}"></a>
        </li>
      </ul>
    </div>
    <div class="col-md-4" ng-show="currentEpisode.hasPurchaseProviders">
      <h4>Digital Purchase</h4>
      <ul class="watch">
        <li ng-repeat="(provider, link) in currentEpisode.purchaseProviders">
          <a href="{{ link }}"><img class="watch" src="{{ icons[provider] }}"></a>
        </li>
      </ul>
    </div>
  </div>
</div>